[2013-08-21 05:08] tj opened #1 "maybe add to koajs/common"
would be great to have there i think! nice touch with the manual override :D

[2013-08-21 05:11] tj opened #2 "duplicate logic"
maybe you have some ideas on this, but I'd definitely like if we didn't have to shadow the default stuff in Koa for these kinds of middleware, it'll definitely become error-prone (and just not fun to work with). Thankfully I don't think too many will sit "under" like this one does, it was a decent PITA with connect as well, but maybe we can work on improving that.

[2013-10-03 05:11] jonathanong opened #3 "check response.length"
https://github.com/senchalabs/connect/issues/906

[2013-10-03 06:02] #3 closed, assigned to nobody

[2013-10-03 06:02] #2 closed, assigned to nobody

[2013-10-04 20:44] jonathanong opened #4 "figure out when to set vary"
people are going to complain if we always set vary

[2013-12-06 08:41] #1 closed, assigned to nobody

[2013-12-19 01:05] jonathanong opened #5 "use compressible"
https://github.com/expressjs/compressible

[2013-12-19 03:56] #5 closed, assigned to nobody

[2013-12-28 10:59] #4 closed, assigned to nobody

[2014-02-24 18:41] marcodeltongo opened #8 "Compress should honor threshold for JSON response"
Hello, while working on a REST API I noticed that JSON bodies are always compressed, no threshold check at all.

[2014-02-24 19:01] #8 closed, assigned to nobody

[2014-03-18 16:26] jesperp opened #10 "compress = true ignored when below treshold"
Although docs says

[code]

Mistake in docs or code? :)

[2014-03-19 14:21] #10 closed, assigned to nobody

[2016-03-04 04:20] jonathanong opened #19 "custom compression streams"
see: https://github.com/expressjs/compression/pull/62

NOTE: we do not have to support `flush()`. however, we _could_ attach the compression stream to `ctx` incase someone wanted access to that.

[2016-03-30 19:44] christophehurpeau opened #21 "Support for brotli"
Here an interesting link : https://hacks.mozilla.org/2015/11/better-than-gzip-compression-with-brotli/

[2016-03-30 19:44] christophehurpeau commented on #21
I could try to make a PR if you're interested

[2016-03-30 20:13] jonathanong commented on #21
imo we should just have an api for adding more compression methods

[2016-03-31 01:15] coderhaoxin commented on #21
Looks like https://github.com/expressjs/compression/pull/62 ?
This issue is duplicated with #19 ?

[2016-05-09 19:40] eknkc commented on #21
BTW, Chrome seems to have brotli enabled by default for upcoming versions:

https://chromium.googlesource.com/chromium/src/+/e3118678848807c0ea60ab086e3d803cb1913098%5E%21/#F0

[2016-06-17 06:19] andyhu opened #30 "npm Koa2 package"
Hi, could you reversion v2 of this module and make it available on npm? Many thanks!

[2016-06-17 06:20] andyhu commented on #30
Sorry, just saw it on npm

[2016-06-17 06:20] #30 closed

[2016-09-27 01:49] ShimShamSam commented on #21
Any progress on this?

[2016-09-27 04:03] jonathanong commented on #21
PR welcomed :)

[2016-12-31 06:57] felixsanz opened #48 "What is compressed?"
Is both header and body compressed? or just body?

Also, what happens if i have already compressed the body myself (using brotli for example). Will thise cause an issue? (re-compress is not a good idea). What happens in this case?

[2017-01-09 03:25] jonathanong commented on #48
just the body. headers can only be compressed at the HTTP level

if `content-encoding` is already set, then this middleware will not do anything. so make sure you set a `content-encoding` header if you've compressed the body yourself.

[2017-01-09 03:25] #48 closed

[2017-02-16 16:09] felixsanz opened #53 "Error in threshold checking?"
The option:

[code]

Can't be set to `0` (compress always) because the code `var threshold = !options.threshold ? 1024 : ...`. When `0`, the checking fails. It should be `var threshold = options.threshold === undefined ? 1024 : ...` (or even `!= null`).

Would you accept a PR for this or do you think the minimum threshold should be `1` since there is no point in compressing a 0 byte response? (But

[2017-02-25 19:51] jonathanong commented on #53
sounds like a bug to me! maybe support `false`?

[2017-02-26 00:31] felixsanz commented on #53
`threshold: false` doesn't make much sense to me, it's confusing the intention.

I think `threshold: 0` is just fine since you want to compress from that size.

The thing is that compressing 0 bytes doesn't make sense. But `threshold: 1` is weird as an option.

[2017-02-27 07:24] coderhaoxin opened #55 "publish a new version to fix readme on npm"

[2017-03-05 04:52] kingjerod opened #57 "Using this library adds 200+ ms to content download time"
I've noticed that when I use this library, the "Content Download" time in Chrome dev tools is increased by 200+ ms. I see the same thing in Firefox for the "Receiving" time. I've created a small test script to isolate this issue from anything else:

[code]

This is using Koa v2, koa-compress v2.0, Node v7.2.1 along with the harmony flag.

With compression on, the page loads between 200-230 ms. Tra

[2017-05-31 18:27] Eldar-X opened #60 "NodeJs v8 stream.push() after EOF"
After upgrade to v8 i got error in console

` Error: stream.push() after EOF
      at readableAddChunk (_stream_readable.js:227:30)
      at Gzip.Readable.push (_stream_readable.js:195:10)
      at Gzip.Transform.push (_stream_transform.js:151:32)
      at Zlib.callback (zlib.js:430:16)`

[2017-06-02 02:05] tuananh commented on #60
Confirmed. I get this issue with Node v8 as well.

[2017-06-08 12:37] tuananh commented on #60
Anyone taking this? Can someone point me to where I should look?

[2017-06-08 22:23] tuananh commented on #60
Notice node 8.1 fixes something in zlib. Is this related?

[2017-06-09 17:10] andykant commented on #60
This still occurs in Node v8.1.0.

[2017-06-09 20:51] niftylettuce commented on #60
Same issue, v8.0.0

[2017-06-13 13:53] tuananh commented on #60
@jonathanong could you please take a look?

[2017-06-13 17:59] jonathanong commented on #60
i've seen this before. i haven't investigated it yet. it is one of the blockers for me to upgrading to node 8.

[2017-06-18 16:41] ashishnetworks opened #61 "Response is not getting compressed or being corrupted?"
this is my middleware code

`app.use(compress({
    filter: function (content_type) {
        return /text/i.test(content_type)
    },
    threshold: 1,
    flush: require('zlib').Z_SYNC_FLUSH
}))`

And this is my response code
[code]

now when I hit the url localhost:3000/test, I get the error saying

But when I hit same url using CURL, I get the text saying

I guess it's apparent that data is no

[2017-06-20 13:07] tuananh commented on #60
anyone found a fix for this? also, is there an alternative middleware?

[2017-06-20 16:10] Eldar-X commented on #60
In my case, i found solution by changing order of compress and conditional-get middleware
[code]

[2017-06-20 16:41] jonathanong commented on #60
is it because you are using `Z_SYNC_FLUSH`? what happens if you don't use a flush parameter?

[2017-06-20 17:04] jonathanong commented on #60
https://github.com/koajs/compress/commit/e50d15f4941791e3b425fc7a218282effedc652a seems okay to me.

anyone else have any ideas?

[2017-06-20 17:37] Eldar-X commented on #60
@jonathanong without flush parameter i have same result but if koa-compress middleware over conditional-get middleware everything okay. Looks like this issue happening only when we use conditional-get middleware.

[2017-06-21 03:57] jonathanong commented on #61
don't set the content encoding urself.

[2017-06-21 03:57] jonathanong commented on #60
okay, i think the time i saw this error was with `v8.0.0`. i don't see it anymore with the latest node

[2017-06-21 04:14] tuananh commented on #60
It seems 8.1.2 fixes it. Any idea what causes this in the first place?

[2017-06-21 04:30] pastelsky commented on #60
Still experiencing this in 8.1.2. I don't have `conditional-get` middleware.

[2017-06-21 05:47] ashishnetworks commented on #61
Thanks, @jonathanong  for your time. Well, without setting content encoding myself and  I stop getting errors. But I believe it's not getting compressed when I don't set content encoding. Because in such case when I hit the URL using curl I simply get the plain text saying 'Hello World'. If curl doesn't support decompression by default, how am I receiving a plain text then?
And if I don't set enco

[2017-06-21 05:48] jonathanong commented on #61
if `content-encoding` is set, i believe this module will not run.

can you make a PR with a failing test case?

[2017-06-21 05:49] ashishnetworks commented on #61
sorry for being a noob, but what's PR? do you mean sample programs?

[2017-06-21 05:50] jonathanong commented on #61
pull request

[2017-06-21 05:52] ashishnetworks commented on #61
yes sure.

[2017-06-21 07:36] ashishnetworks commented on #61
Thank you @jonathanong for your comments. I just retested the whole process once again and I realised that my code was already working. I was making mistakes in assuming that response should always be compressed. What I realised now after lots of research is that compression works only when the client sends a header with supported content-type. If supported content type is `gzip`, the response wil

[2017-06-21 16:38] Eldar-X commented on #60
I have same issue in 8.1.2 but with conditional-get middleware. I see this issue once more when my stream was broken.

[2017-06-21 17:00] jonathanong commented on #60
can anyone make a PR with a failing test casE?

[2017-06-22 01:51] tuananh commented on #60
this? https://github.com/nodejs/node/issues/13812

there is a PR open already for it https://github.com/nodejs/node/pull/13850

[2017-06-22 15:31] tuananh commented on #60
[code]

This test is failing with the same error. though i don't know why.

[2017-06-22 15:32] mcollina commented on #60
Can you check if https://github.com/nodejs/node/pull/13850 this solves the issue?

[2017-07-06 05:11] andykant commented on #60
Node 8.1.3 fixes the issue.

[2017-07-06 05:20] tuananh commented on #60
8.1.3 works for me as well

[2017-07-06 17:10] jonathanong commented on #60
closing. thanks @mcollina !

[2017-07-06 17:10] #60 closed

[2017-07-10 09:15] Eldar-X commented on #60
node v8.1.3 still same issue

[code]

[2017-07-12 15:38] mrchief commented on #60
I don't use conditional get or etag and still see this issue (with node 8.1.3 and even using Z_SYNC_FLUSH). I'm using koa-webpack middleware though.

[2017-07-12 17:39] mcollina commented on #60
I'll be happy to have a look, if you can post an example to reproduce the issue consistently.

[2017-07-12 19:20] Eldar-X commented on #60
@mcollina you can try my example only install deps and run this app then visit page and reload it! After reloading you can see this message in your console

2. I am using Marko.js and i streaming response to ctx.body but if i have error in my template file i also see this error message.

[2017-07-12 21:09] mrchief commented on #60
@mcollina My setup is bit complicated but @Eldar-X setup will do.

[2017-07-13 08:10] mcollina commented on #60
@Eldar-X @mrchief I cannot reproduce with node 8.1.2, 8.1.3, 8.1.4 or master using your example on Mac OS X 10.11 and Chrome.

[2017-07-13 17:09] mrchief commented on #60
Could the OS be a factor? I'm on Windows 7 x64. Even in my setup, I don't get it consistently. E.g., I ran my app right now and there were no errors. Then I refreshed the page and saw this error. And sometimes it happens many times within the same request.

I'll try to upload my setup tonight.

[2017-07-13 17:19] Eldar-X commented on #60
@mcollina i am also on Mac Os 10.11

![tem-13-2017 20-17-07](https://user-images.githubusercontent.com/15696752/28178780-530a9608-6808-11e7-9f11-4878bd4456fa.gif)

[2017-07-13 17:25] Eldar-X commented on #60
https://github.com/Eldar-X/koa-issue my simple setup

[2017-07-13 17:34] mcollina commented on #60
Confirmed, this is still happening. Quite interestly enough, this does not happen with CURL. I'll see if I can track this down (it might take a while).

It seems a different one than https://github.com/nodejs/node/pull/13850.

[2017-07-17 16:53] mcollina commented on #60
Now I cannot reproduce anymore. However, the same node version/code was showing the problem while I was traveling (and I could not work on it). If someone has a consistent way of reproducing this problem, please let me know.

[2017-07-17 17:28] mcollina commented on #60
I can reproduce by loading the server with autocannon:

[code]

[2017-07-17 17:41] mcollina commented on #60
Here is the fix: https://github.com/nodejs/node/pull/14330

[2017-07-19 12:54] refack commented on #60
Will you be adding a regression test for this? Then maybe [apply for addition to node's CitGM](https://github.com/nodejs/citgm/blob/master/CONTRIBUTING.md#submitting-a-module-to-citgm)

[2017-07-20 22:55] mcollina commented on #60
This should be definitely fixed in Node 8.2.1.

[2017-07-21 19:34] refack commented on #60
@jonathanong if you could write a regression test for this. It's literally keeping up at night 😨

[2017-07-22 18:19] jonathanong commented on #60
@refack im not sure what the test case is...

[2017-07-22 18:21] refack commented on #60
@jonathanong this might help https://github.com/nodejs/node/pull/14330/files 🤷‍♂️

[2017-08-04 18:23] dlebedynskyi opened #62 "stream.push() after EOF"
Hi, occasionally getting following error
[code]

![image](https://user-images.githubusercontent.com/1182917/28981546-2ae8efa2-7920-11e7-87cd-502028d52309.png)

sometime also seeing

[code]
only package we use that references zlib is koa-compress with next config
configuration
[code]
using node 8.

Any idea on why this happens and how to fix this?

[2017-08-07 01:42] coderhaoxin commented on #62
https://github.com/koajs/compress/issues/60

[2017-08-07 01:45] #62 closed

[2017-09-23 16:03] #61 closed

[2017-11-06 14:30] greenkeeper[bot] opened #66 "An in-range update of koa is breaking the build 🚨"
## Version **2.4.0** of [koa](https://github.com/koajs/koa) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/koajs/compress/compare/greenkeeper%2Fkoa-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      koa
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    </td>

[2017-11-06 14:31] #66 closed

[2017-11-22 10:29] talha-asad opened #67 "Don't encode responses with Cache-Control: no-transform"
Something like this behavior here for express's compression module: https://github.com/expressjs/compression/pull/53

[2018-01-27 16:13] dlebedynskyi commented on #21
Hey, guys, wondering if there is any progress on this? would love to see brotli support added

[2018-03-14 09:08] DominicTobias commented on #60
I have it on 8.10.0 on windows

[2018-03-14 09:30] mcollina commented on #60
@DominicTobias can you please confirm that https://github.com/koajs/compress/issues/60#issuecomment-314051059 can be used to reproduce the problem?

[2018-03-14 09:32] DominicTobias commented on #60
Ah don't worry, I speed read on a number of issues and this is a general problem with npm and windows, rather than something koa specific 😳

[2018-03-26 22:15] UnbrandedTech opened #69 "Save pre-compressed body for logging"
Right now, I have to choose between compressing my responses and logging them...

I tried to go down the road of unzipping/inflating them after, but decided that maybe the library could help out a bit.

I purpose something along the lines of adding a new prop onto the response object called `pre_compressed_body` or something similar so if someone wants to log the response they can.

[2018-04-10 07:06] xosuperpig opened #70 "I got an uncaughtException when the socket was closed by remote."
[code]

[2018-04-10 07:13] xosuperpig commented on #70
maybe #71 can help?

[2018-04-14 05:14] jonathanong commented on #70
merged.

[2018-04-14 05:40] jonathanong commented on #21
was going to implement this but it seems as though brotli is only better on larger sized payloads. we might need to think about how we implement this more.

[2018-04-14 05:40] #19 closed

[2018-04-14 22:13] liamqma opened #73 "v2.1.0 introduces async/await, should be a major version instead of minor"
Hi,

v2.1.0 has published two days ago. However, it started using async/await instead of Promise. This I think should be a major version bump as it's a breaking change.

[2018-04-14 22:47] jonathanong commented on #73
ah yes, you're right. didn't realized that was merged unpublished

[2018-04-14 22:50] #73 closed

[2018-04-14 22:50] #55 closed

[2018-04-16 18:08] dlebedynskyi commented on #21
@jonathanong followup on that - did some testing myself recently using https://github.com/tuananh/kompression and https://www.npmjs.com/package/shrink-ray

- compression time seems bigger then gzip for around  same dynamic content size of ~15kb
- brotli does help with static files though roughly 5-10% save on brotli  for static files around ~100kb gzip

[2018-04-17 17:30] anjanikumar2109 opened #74 "Issue in v2.1.0"
We are seeing issues with koa-compress v2.1.0. The issue is that node v8 upgrade is mixed up in minor release of the module. So, there are references of async/await keywords in koa-compress@2.1.0

See below code in `index.js` of the published version.

[code]

[2018-04-17 18:12] jonathanong commented on #74
@anjanikumar2109 hi i unpublished it. are you still able to download it? downgrade to v2

[2018-04-17 18:18] anjanikumar2109 commented on #74
@jonathanong It is not downloadable now. We also verified that registry link is not working for `v2.1.0`.
I guess you can close the issue.

Thanks for the quick help on this.

[2018-04-21 10:50] secreter opened #75 "weird memory leak"
I found a weird problem. We have a server-rendered service. When we were stress testing, it was normal for 100 qps, but when we set http Connection:keep-alive. There was a significant memory leak after 4 minutes and 1GB of memory in 8 minutes. We have been looking for a long time because this phenomenon disappeared after removing the koa compress middleware. I read the koa compress source, but it

[2018-04-23 22:43] #74 closed

[2018-04-23 22:44] anjanikumar2109 commented on #74
Closing this as @jonathanong has already fixed the version issue.

[2018-05-09 22:43] khaledAltuwaijri commented on #60
(after upgrading node to v8.11.1)
[code]

[2018-05-22 10:22] greenkeeper[bot] opened #76 "An in-range update of eslint-plugin-flowtype is breaking the build 🚨"
## Version **2.47.0** of [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/koajs/compress/compare/master...koajs:greenkeeper%2Feslint-plugin-flowtype-2.47.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2018-06-20 02:03] #76 closed

[2018-07-17 15:40] dandradesg commented on #60
npm cache clean --force

[2018-07-18 16:05] rimiti commented on #60
In my case, after making a `npm cache clean --force`, everything work.

[2018-08-13 20:33] tracker1 commented on #21
Added a PR #80 which implements optional brotli support... I would specify a quality of 5-8 though instead of the default of 11, as it will be much slower than gzip otherwise.  You really don't gain much for dynamic content vs. the extra time for compression.  I did the work and made it optional in case someone *really* wants it, or in case the iltorb library gets significantly better.

my single

[2018-09-06 21:48] greenkeeper[bot] opened #84 "An in-range update of supertest is breaking the build 🚨"
## Version **3.3.0** of **supertest** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/koajs/compress/compare/master...koajs:greenkeeper%2Fsupertest-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmedia/supertest>s

[2018-09-28 21:37] NickBolles opened #85 "Check that response hasn't been sent already"
I know it's a little bit out of the KOA architecture. But say we want to handle the response ourselves, koa-compress will always log an "ERR_HTTP_HEADERS_SENT"

Sure I can delete the body after it's sent or do some other weird hack, but it seems like koa-compress should check [ctx.headerSent](https://koajs.com/#response-headersent) or [ctx.respond](https://koajs.com/#ctx-respond)`

A use case for

[2018-11-19 22:24] ianstormtaylor opened #86 "consider adding `response.originalLength` property"
It would be nice if this added a `response.originalLength` property to make it easy to send trace information about the "real" response length. This would mimic the existing `request.originalUrl` that Koa maintains.

[2019-02-03 07:55] syuilo commented on #21
Node.js now supports Brotli natively.

[2019-10-14 19:52] dennismphil commented on #21
Any progress on this?

[2019-12-24 13:51] indeyets commented on #21
@jonathanong brotli makes a lot of sense for API responses under high load. we usually sticked to `gzip -1` (lowest possible load), but `brotli -3` uses even less cpu resources while providing better compression (even for small files)

CDN doesn't help with API :-/

[2020-04-16 04:00] #67 closed

[2020-04-16 04:06] #84 closed

[2020-04-16 04:08] jonathanong commented on #85
@NickBolles usually this is from developer error where a middleware is sending headers when it shouldn't. however, I am not opposed to checking `ctx.headerSent`

[2020-04-16 04:09] #70 closed

[2020-04-16 04:10] jonathanong commented on #85
does https://github.com/koajs/compress/issues/70 solve it?

[2020-04-19 03:34] #85 closed

[2020-04-28 03:09] jonathanong commented on #21
closed by #99

[2020-04-28 03:09] #21 closed

[2020-04-28 03:09] jonathanong commented on #86
the primary issue with this is that we don't know the length of streams and finding out means we have to buffer the entire body. might be better done in a downstream middleware

[2020-04-28 03:13] #69 closed

[2020-04-28 03:14] jonathanong commented on #86
actually yeah, should be done downstream

[2020-04-28 03:14] #86 closed

[2020-04-28 03:16] jonathanong opened #104 "remove jest --forceExit"
for each test, we'd need to tear down via `server = app.listen(); server.close()`

[2020-04-28 03:16] jonathanong opened #105 "tests: remove callbacks"
we can just do `res = await request(server)` now

[2020-04-29 17:35] Guillaume-Mayer opened #107 "Brotli used, even if not in Accept-Encoding header (v4.0.0)"
Sending Accept-Encoding: gzip, or Accept-Encoding: identity, if the response size is more than the threshold, the response get encoded with Brotli.

I used the default settings: `app.use(compress());`

I went back to 3.1.0 which works perfectly.

[2020-04-29 18:08] jonathanong commented on #107
https://github.com/koajs/compress/commit/895fbe8592076c912af079fb9021da955db2693f these tests pass, can you make a PR with a failing test?

[2020-04-29 21:33] Guillaume-Mayer commented on #107
I will try to

[2020-04-29 22:27] Guillaume-Mayer commented on #107
It seems there is some state involved

[2020-04-30 01:01] jonathanong commented on #107
cool thanks

[2020-04-30 01:07] #104 closed

[2020-04-30 01:07] #107 closed

[2020-05-14 20:15] CareLuLu-Gabriel opened #111 "Not using the correct encoding"
## Expected Behavior
By sending `Accept-Encoding: gzip, deflate` the response should be encoded with either gzip or deflate.

## Current Behavior
If there are any other previous requests that included other encodings, the response may be encoded with an unexpected algorithm.

## Possible Solution
1. Don't use a shared map `encodingWeights` by multiple requests.

## Steps to Reproduce (for bugs)
1.

[2020-05-14 21:46] jonathanong commented on #111
this should be fixed in 4.0.1. can you upgrade?

[2020-05-14 22:06] dobesv opened #112 "If no Accept-Encoding header is sent, koa-compress may compress the response"
I found it very confusing when I used curl to hit my endpoint and got a compressed response dumped to my console.  It seems like if curl doesn't send the `Accept-Encoding` header up it does not decompress the response if it gets a compressed response in return.

Nevertheless, I think a client that does not send `Accept-Encoding` should not be assumed to support `gzip` or any other compression sche

[2020-05-14 22:31] CareLuLu-Gabriel commented on #111
@jonathanong I upgraded and the issue was solved, thank you!

[2020-05-14 22:31] #111 closed

[2020-06-04 15:58] Justsnoopy30 opened #113 "Can this be used without koa?"
Can this be used without koa, with just a http server? If so, how?

[2020-06-08 08:55] Dogless-plus opened #114 "Using both koa-compress and koa-static , extremly slow when visit by 127.0.0.1 or localhost, why?"
"koa": "^2.12.0",
    "koa-compress": "^4.0.1",
    "koa-router": "^8.0.8",
    "koa-static": "^5.0.0",

[2020-06-12 09:08] varad11 opened #115 "koa-compress not compressing response body."
I am using koa-compress module to compress responses.

Following ways I have tried to use it.

`import compress from "koa-compress";`
`import { constants } from "zlib";`

Method 1).
`app.use(compress());`

Method 2).
`app.use(compress({`
  `filter: function (content_type) { return ( /json/i.test(content_type) || /text/i.test(content_type)) },`
  `threshold: 1024,`
  `gzip: {`
    `flush: constants

[2020-06-12 13:03] #115 closed

[2020-06-12 13:06] varad11 commented on #115
Was testing on postman, which failed to give right size of compressed data. Above samples working effectively.
Thanks.

[2020-06-17 10:26] indeyets opened #116 "4.x seems to be significantly slower (not related to brotli!)"
I see that my app works with much higher CPU load and produces 20% throughput at the same time.

3.1.0 with no options: fast (119MB/s)
4.0.0 / 4.0.1 with no options: slow (20 MB/s)
4.0.x with `{ br: false }`: slow
4.0.x with `{ br: false, gzip: false, deflate: false }`: fast again

same machine, same nodejs version (12.16.3)

3.1.0 produces compressed output (I checked)

trying to trace it further

[2020-06-17 13:12] indeyets commented on #116
@uhop can it be related to the new "external" checks of `Accept:` headers?

[2020-06-17 14:44] elazutkin-dynata commented on #116
4.0.0 was based on my ideas, but not on my code. I have to look first and compare versions.

In general, I would assume that any checks are fast, and, probably, done just once, and all CPU time is spent compressing. Could it be that gzip is running with a higher compression rate by default than in 3.1.0? One way to see it is to compare sizes produced by different versions.

I'll investigate.

[2020-06-17 14:57] uhop commented on #116
4.0.0 was based on my ideas, but not on my code. I have to look first and compare versions.

In general, I would assume that any checks are fast, and, probably, done just once, and all CPU time is spent compressing. Could it be that gzip is running with a higher compression rate by default than in 3.1.0? One way to see it is to compare sizes produced by different versions.

I'll investigate.

[2020-06-17 15:01] indeyets commented on #116
I doubt it is, as default invocation is without any options both in old and in new code. Will try to run another run of tests a bit later

[2020-06-17 15:17] indeyets commented on #116
ok. I guess it is related to #112

benchmark tool does not request compressed responses by default, but it gets one now.

I'll make separate investigation about why it hurts my production installation so hard.

I will close this issue, but #112 should be fixed

[2020-06-17 15:17] #116 closed

[2020-06-23 02:00] slanden opened #117 "Expand documentation"
This middleware looks useful, but I'm not sure how to use it. Perhaps more examples with explanations would help?

I'd like to use brotli if the client accepts it, and fallback to gzip if not. In the readme, your example disables brotli and later states,

Is brotli disabled because Node includes it natively or because that's just the example?

Does the order of the encodings in the options object

[2020-06-26 10:45] oli1605 opened #118 "Brotli compress is slow"
I was just checking out my nodejs service with Brotli compression enabled with default config and Brotli enabled.
Download size decreased from 77kb to 47kb with Brotli, but total request time raised from 209ms (waiting: 200ms + download: 9ms) to 1306ms (waiting 1300ms + download: 6ms) in Chrome DevTools.
I read that latency might increase, but not at such a high level.

Tested with Chrome Dev85, N

[2020-07-01 02:34] zacanger commented on #112
Is there anything I can do to help this along? This change broke some APIs for us and we had to downgrade in a hurry (the use-case in that situation was not browser to Node, it was .NET Framework APIs calling a Node microservice).

[2020-07-04 18:08] niftylettuce commented on #112
I added a commen to #110 - once PR is updated or a new one made, I will merge and release as major semver bump.

[2020-07-04 18:19] niftylettuce commented on #117
PR welcome!

[2020-07-04 18:20] niftylettuce commented on #117
The user/client is the one that ultimately determines what compression methods it accepts.

[2020-07-05 20:22] uhop commented on #112
Will do.

[2020-07-05 21:44] uhop commented on #112
Done.

[2020-07-06 01:21] niftylettuce commented on #112
Merged.  Once @jonathanong gives me npm access, I will publish v5.0.0 to npm and GitHub releases.

[2020-07-06 01:27] niftylettuce commented on #112
@uhop I just tested locally and I seem to have a failing test:

[code]

[2020-07-06 01:30] niftylettuce commented on #112
The `unset` seems to not be working, hmm.

[2020-07-06 01:32] niftylettuce opened #121 "Brotli Defaults"
@uhop curious your opinion on this - I had to do the following to make compression work fast for https://forwardemail.net:

https://github.com/ladjs/web/blob/6c2c09e5f78f403194883d169a4823dec73da743/index.js#L152-L159

[2020-07-06 01:37] niftylettuce commented on #112
v5.0.0 published to npm and GitHub

https://github.com/koajs/compress/releases/tag/v5.0.0

[2020-07-06 01:37] #112 closed

[2020-07-06 01:37] uhop commented on #112
Strange &mdash; I modified the test to not use `unset()`&hellip; Are you sure you tested the right thing?

[2020-07-06 01:38] niftylettuce commented on #112
I merged the wrong PR haha.  You had two, #110 and #120, I merged #110 not #120.  I reverted #110 and merged #120 and released to npm.

[2020-07-06 01:44] jonathanong commented on #113
no, it cannot. not sure what the value is. you can rewrite a bunch of this or use libraries from github.com/pillarjs pretty easily

[2020-07-06 01:45] jonathanong commented on #121
better default values would be cool, at least in the readme

[2020-07-06 02:32] niftylettuce commented on #121
I think we should have a v6.0.0 release with default Brotli encoding options.  Otherwise I am guessing that 99% of use cases in Koa will suffer from the poor performance due to Node defaults.  Where/how might I put in default values for `br` @jonathanong @uhop ?

[2020-07-06 02:56] uhop commented on #121
@niftylettuce Looks good to me. Some notes:

* You can play with a window size as well. Bigger size may give you better compression without too much slowdown.
* The mode is "text". Obviously it depends on what you serve the most. The default is "generic".

This brings us to a scenario when we may want to fine-tune compression depending on a type of payload, or its size. If it would be up to me, I

[2020-07-06 03:28] niftylettuce commented on #121
@uhop this would be incredible.  might you be able to open a PR for it?

[2020-07-06 03:39] uhop commented on #121
Will do tomorrow.

[2020-07-07 04:55] uhop commented on #117
It is just an example. If you don't do anything, clients supporting `br` will get a `br` response, if your server is running on v11.7.0+.

If a client doesn't support an encoding from the list, the next one will be checked and used.

Does this explanation work for you? If not, ask away and let's refine our message. If it does, I'll be happy to submit a PR to update the docs.

[2020-07-07 05:01] uhop opened #123 ""flush" as it is used in tests"
In `__tests__.index.js` there is a section:

[code]

Is `flush` really a top-level option? Or should it be:

[code]

The test succeeds anyway: with the existing code, with added `gzip`, even when the `flush` line is commented out.

I don't know what effects should be tested but it looks like they are not observed. I think it should be clarified and the test updated.

[2020-07-08 02:03] slanden commented on #117
@uhop Thank you, yes I think your answers make sense. It'd be helpful as well to be clear about what will happen by _default_ (whether Node 11.7+ or an unsupported version), and then the _order_ the fallbacks will happen.

So, here's my understanding based on what you've said:

`app.use(compress())`

will result in responses using brotli compression if using Node 11.7+, and otherwise return gzip r

[2020-07-08 03:38] uhop commented on #117
Encoders are going to be tried in this order: `['br', 'gzip', 'deflate']` unless eliminated by `Accept-Encoding` and availability of actual encoders (brotli).

When a client sends `Accept-Encoding`, its value is a list/set of accepted encodings. The rest is trivial. But there are two edge cases:

1. The client does not send `Accept-Encoding` at all.
2. The client sends `Accept-Encoding` set to `"*

[2020-07-09 21:01] slanden commented on #117
Why is 'br' not listed here also?

[2020-07-09 22:09] uhop commented on #117
Beats me. TBH using `"*"` doesn't make much sense at all. What does it mean? All possible encodings, including uninvented yet? I never saw it being used in the wild. I suspect that if some client uses it, it is probably a legacy one, which doesn't know about `brotli`. That's probably why.

IMHO the only plausible scenario for `"*"` is a closed system. For example, I have a client, which talks only

[2020-07-12 17:52] slanden commented on #117
I think you've cleared up everything that was missing from the docs, thank you! I don't understand the relation between our last two comments, but

tells me you didn't leave out the `'br'` from that list by accident so that's good enough for me.

[2020-07-13 05:05] uhop commented on #117
I guess that the authors decided to be reasonably conservative and in the case of `"*"` they will serve `gzip`. I don't see any other possible scenario when any other encoding is going to be selected. `br` is not included to prevent it being selected instead of `gzip`.

[2020-07-14 15:43] #113 closed

[2020-08-28 11:59] lehni opened #126 "Default Brotli compression level is too slow"
I've recently upgraded from `3.1.0` to `5.0.1` and without any other change, I noticed a huge slow down in my application.

Requests that previously took about 50ms suddenly took over 1s to complete. Downgrading to `3.1.0` again solved this issue.

I wonder if this has something to do with the new Brotli support? But since Node 10 is not actually supporting that natively, maybe it should then be d

[2020-08-28 12:01] lehni commented on #126
Before Upgrade:

![image](https://user-images.githubusercontent.com/213275/91558570-e5bb8900-e936-11ea-8a8b-a9afe091a030.png)

After:

![Uploading image (1).png…]()

[2020-08-28 12:19] lehni commented on #126
I just tested `compress({ br: false })` with `5.0.1` and it's fast. So it is Brotli making it 10-20 times slower…

[2020-08-30 21:31] mike-marcacci commented on #126
I noticed this as well, running in node 14 and using streams. Enabling brotli compression causes a 3+ second delay before transfer of bytes begins on requests that experience <20ms of latency when using gzip.

This suggested to me that it was buffering the entire file into memory before sending it. While this may be the case, it is clear this would be a change in node's zlib, as this library seems

[2020-09-01 08:44] damianaiamad commented on #126
The brotli implementation in NodeJS does not seem to allow the compression level to be specified (1-11). This is unfortunate. Given the time taken to compress, it appears that the default level is high (11?).

Some experiments with a 3MB csv file on 2.9GHz i7:

**NodeJS.zlib.brotliCompress**
Level - Compression 81% Speed 5924ms

**NodeJS.zlib.gzip**
Level 1 Compression 67% Speed 45ms
Level 2 Compr

[2020-09-02 01:17] damianaiamad commented on #126
I stand corrected—I've discovered that it is in fact possible to set brotli compression level (1-11). A little obscure, but there you are:

[code]

For koa:

[code]

With a 12MB json payload typical for my app:

BROTLI
Level 1 Compression 88.7% Time 36ms
Level 2 Compression 89.3% Time 72ms
Level 3 Compression 89.6% Time 74ms
Level 4 Compression 91.1% Time 112ms
Level 5 Compression 92.0% Time 180ms

[2020-09-02 01:34] damianaiamad commented on #121
I agree that koa-compress should not use the default brotli compression level (11). The performance is just terrible.

For comparison, with a 12MB json file (real world data):

BROTLI
Level 1 Compression 88.7% Time 36ms
Level 2 Compression 89.3% Time 72ms
Level 3 Compression 89.6% Time 74ms
Level 4 Compression 91.1% Time 112ms
Level 5 Compression 92.0% Time 180ms
Level 6 Compression 92.1% Time 222

[2020-09-02 05:10] uhop commented on #121
In prod I use 5 or 7 (I don't recall how or why I arrived to these values). According to your tests, it is possible to do as well as gzip-9 with br-4 yet be faster than gzip-4.

[2020-09-02 13:29] damianaiamad commented on #121
5 is a sensible setting. I plotted Level against compression % and time. The results are informative.

Obviously results will differ with different data. The sample here is a 3MB JSON file.

Note: Level 10 & 11 go way off the end of the chart. I just ignore them as not useful for realtime compression.

<img width="394" alt="image" src="https://user-images.githubusercontent.com/29968991/91988922-3a

[2020-09-02 13:46] damianaiamad commented on #121
And just to make the point how slow NodeJS's default brotliCompress() is for realtime compression, here is the same chart with the time axis rescaled so that you can see how far up it goes! Level 11 isNodeJS default.

Ouch!

<img width="394" alt="image" src="https://user-images.githubusercontent.com/29968991/91991486-49e6ae80-ed76-11ea-81da-55a518e7f49d.png">

[2020-09-02 14:04] damianaiamad commented on #121
@uhop I like your suggested changes to allow more flexibility.

I agree with @niftylettuce that it would be a good idea for koa-compress to specify it's own default for brotli, to give reasonable out of the box performance.

I'm thinking Brotli 5 may be the best all-round default. You could also make an argument for Brotli 9.

More analysis here.
https://blogs.akamai.com/2016/02/understanding-brot

[2020-09-04 16:10] lehni commented on #126
So maybe compress should use a lower default compression level?

[2020-09-04 18:07] jonathanong commented on #126
iirc one isn't set, but i'll take a PR to have a lower default

[2020-09-04 18:10] jonathanong commented on #121
i'm thinking a `encodingDefaults` object around here: https://github.com/koajs/compress/blob/master/lib/encodings.js#L18

that gets deep-merged with options on initialization

[2020-10-02 21:29] karl-chan commented on #126
+1, please change the default back to gzip.

According to https://www.opencpu.org/posts/brotli-benchmarks/, brotli has an edge of <25% in compression ratio, but the compression speed is 70 times slower than gzip. Definitely not sensible to choose brotli for on-the-fly compression.

[2020-10-03 04:13] damianaiamad commented on #126
I think koa-compress can use brotli by default so long as it sets the compression level to something suitable for doing realtime compression.

NodeJS default is Brotli L11, which is great for offline compression, but woeful for realtime compression.
Since koa-compress is all about realtime compression, it **must not** use the NodeJS default.

I suggest Brotli L5. From my experiments (above), this

[2020-10-26 23:46] bwalendz commented on #126
Brotli L5 seems like the more reasonable default.

[2020-10-28 07:57] lehni commented on #126
I've set for L4 after my own tests. L5 still seemed a bit sluggish, with little gain, as you can see in the example above.

[2020-12-30 21:43] leaumar opened #127 "Q: `options.defaultEncoding` default `idenity`, typo?"
The default for `options.defaultEncoding` is documented to be `idenity`. Is this a typo? The word "idenity" doesn't seem to be the name of anything I can find. If it's meant to be "identity", what does that even mean in this context?

Edit: I've come across other people referring to "no encoding" as identity encoding. I guess this jargon is like the identity function in fp.

[2021-04-05 22:04] amit777 commented on #126
got burned by this today where our app that normally takes 2s to download was taking 30-40s.  setting brotli default level to something like 3 seems like a sane choice.

[2021-04-17 11:46] karl-chan commented on #126
Given the disagreements on the desirable brotli level, and brotli only gives a marginal improvement over gzip (~3%), can we switch back the default to gzip which has been time-tested and works for everybody?

[2021-04-20 07:06] jonathanong commented on #126
a default low level makes sense

[2021-05-19 16:20] shadowgate15 opened #131 "Error [ERR_HTTP2_HEADERS_SENT]: Cannot set headers after they are sent to the client"
This error has been showing up on my production web server for ABA Collection. It appears to be due to a way `compress` is interacting with HTTP/2 or at least when using `http2`.

Based on all of my debugging, it seems as though it is returning after the response has already been sent.

I'll work on a PR and at least get a test up and running that shows the error.

[2021-05-20 01:19] shadowgate15 commented on #131
I'm sorry this is not due to `koa-compress` it is due to an interaction between it and `koa-redirect-loop`. Most likely on `koa-redirect-loop`'s fault. Will work on it their.

[2021-05-20 01:19] #131 closed

[2021-06-12 00:40] JcdeA commented on #126
Any progress..?

[2021-06-21 18:57] lehni commented on #126
Related: #121

[2021-06-25 12:40] joepio commented on #121
Guys, the current default compression leads to absolutely _terrible_ performance. It is just unacceptable. This default high compression option just made our initial page load 10x longer then necessary (we have a 1.2mb resource that includes the entire website). Setting the compression level to 7 decreased page load from 4.6 secs to 0.4s.

[2021-07-16 15:37] 3imed-jaberi commented on #127
@leaumar please check these links:
- https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/Content-Encoding
- https://developer.mozilla.org/fr/docs/Web/HTTP/Headers/Accept-Encoding

[2021-08-18 03:00] jonathanong commented on #105
db365a2f92cfdaba200db29b63faafddb2f0140e

[2021-08-18 03:00] #105 closed

[2021-08-18 03:02] #126 closed

[2021-08-18 03:04] jonathanong commented on #123
you're right. the test doesn't actually do anything, so I'll delete it. feel free to make a new test if you would like.

[2021-08-18 03:04] #123 closed

[2021-08-18 03:07] #127 closed

[2021-08-18 03:19] #121 closed

[2021-08-21 01:54] jonathanong commented on #117
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding we are just trying to be as true to the specs as possible :) it's very confusing

[2021-12-18 01:31] jkassis opened #166 "Content-Length Not Set"
Bummer man. How is the client supposed to keep track of load progress?

[2022-04-15 14:47] ctusch opened #179 "5.1 did not set brotli default quality to 4 correctly"
The format for the brotli options is wrong. So brotli quality level still remains at 11.

Since brotli is the default this took me forever to find the reason why requests took so long. Since the actual compression is native, koa-compress doesn't show up on the profiler or when timing the middleware.

There is already an open PR #165